.movies-container {
    margin-top: 3rem !important;
}

.carousel {
    margin-top: 1rem;
}

.swiper-slide {
    margin-bottom: 2px;
}

.ui.card {
    width: 154px;
}

.ui.card > .image > img, .ui.cards > .card > .image > img {
    height: 230px;
}

footer {
    margin-top: 3.5rem;
    color: #081c24;
}

.paginator {
    margin-top: 2rem !important;
}